{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
        <strong></strong> {{ flashMessage }}.
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
        <strong></strong> {{ flashMessage }}.
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
        <strong></strong> {{ flashMessage }}.
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
        <strong></strong> {{ flashMessage }}.
    </div>
{% endfor %}